<div class="wrapper">
  <h2><%= @user.name %>さん</h2>
  <p><strong>Mail address</strong>: <%= @user.email %></p>
  <p id = "notice"><%= notice %></p>
  <p>
    <strong>Profile Image!</strong>
    <br>
    <%= image_tag @user.image.url if @user.image? %>
  </p>
  <br>
  <%= link_to 'Edit Your Profile', edit_user_path %>
  <br>
  <%= link_to 'If you can log in, go to post list screen ！', pictures_path %>
  <br>
  <%= link_to("#{@user.name}さのDisplay favorite list", "/users/#{@user.id}/favorites") %>
</div>
